{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1>static with generic static folder</h1>
        <h2>MR.COOL</h2>
        
        <img src="{% static 'images/msd.jpg' %}" height="200px" width="200px">
        <h3> M.S. Dhoni, (born July 7, 1981, Ranchi, Bihar [now Jharkhand] state, India), 
            Indian cricketer whose rise to prominence in the early 21st century culminated in his captaincy of
            the Indian national team that won the one-day Cricket World Cup in 2011.</h3>
            
            
    </center>
</body>
</html> 